<div class="main-problems pt-20">
    <h2>Bảng xếp hạng</h2>
    <hr class="custom-divider">
    <div class="main-content">
        <div class="flex flex-wrap">
            <table class="w-full border-collapse border border-gray-300">
                <thead class="bg-gray-800 text-white">
                    <tr>
                        <th class="border border-gray-300 px-4 py-2" style="width: 10%;">Hạng</th>
                        <th class="border border-gray-300 px-4 py-2">Tên truy cập</th>
                        <th class="border border-gray-300 px-4 py-2" style="width: 10%;">Điểm</th>
                        <th class="border border-gray-300 px-4 py-2" style="width: 10%;">Số bài</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border border-gray-300 px-4 py-2 text-center text-base bold">
                            1
                        </td>
                        <td class="border border-gray-300 px-4 py-2">
                            <a href="" class="text-lg">herman</a><br>
                            <span class="text-base">Nguyễn Công Hậu</span>
                        </td>
                        <td class="border border-gray-300 px-4 py-2 text-center text-base bold">77,77
                        </td>
                        <td class="border border-gray-300 px-4 py-2 text-center text-base bold">262
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>