<nav class="fixed top-0 left-0 right-0 bg-black z-50">
    <div class="flex items-center">
        <div class="flex-shrink-0">
            <a href="#"><img src="assets/images/logo.png" alt="" width="130"></a>
        </div>
        <div class="hidden md:block flex-grow">
            <ul class="flex">
                <li class="divider"></li>
                <li><a href="/problems"
                        class="text-white hover:text-gray-300 font-bold hover:bg-gray-600 pt-4 pb-8 px-4">DANH SÁCH
                        BÀI</a></li>
                <li><a href="/submissions"
                        class="text-white hover:text-gray-300 font-bold hover:bg-gray-600 pt-4 pb-8 px-4">CÁC
                        BÀI
                        NỘP</a>
                </li>
                <li><a href="/users"
                        class="text-white hover:text-gray-300 font-bold hover:bg-gray-600 pt-4 pb-8 px-4">THÀNH
                        VIÊN</a>
                </li>
                <li><a href="/contests"
                        class="text-white hover:text-gray-300 font-bold hover:bg-gray-600 pt-4 pb-8 px-4">CONTEST</a>
                </li>
                <li><a href="#" class="text-white hover:text-gray-300 font-bold hover:bg-gray-600 pt-4 pb-8 px-4">THÔNG
                        TIN
                    </a>
                </li>
            </ul>
        </div>
        <div class="hidden md:block ml-auto" *ngIf="isLoggedIn === false">
            <ul class="flex">
                <li>
                    <a href="/login" class="text-white font-bold pt-4 pb-8 px-4">ĐĂNG NHẬP</a>
                </li>
            </ul>
        </div>
        <div class="hidden md:block ml-auto mr-4" *ngIf="isLoggedIn">
            <ul class="flex">
                <li class="relative">
                    <a href="/profile"
                        class="text-white hover:text-gray-300 font-bold hover:bg-gray-600 pt-4 pb-8 px-4">
                        <span class="font-thin">Xin chào,</span> {{name!}}
                    </a>
                    <div class="absolute bg-white mt-7 py-2 w-40 border shadow-lg z-10 options">
                        <a href="/profile" class="block px-4 py-2 text-gray-800">Thông tin cá nhân</a>
                        <a href="/administration" *ngIf="user.role!.code !== 'STUDENT'"
                            class="block px-4 py-2 text-gray-800">Quản lý problem </a>
                        <a href="/my-contest" *ngIf="user.role!.code !== 'STUDENT'"
                            class="block px-4 py-2 text-gray-800">Quản lý contest </a>
                        <a href="/history-contest" class="block px-4 py-2 text-gray-800">Lịch sử contest</a>
                        <a href="/my-submission" class="block px-4 py-2 text-gray-800">Các bài nộp</a>
                        <a (click)="signOut()" class="block px-4 py-2 text-gray-800">Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="flex items-center justify-center">
    <div *ngIf="openForm"
        class="absolute top-0 left-0 bottom-0 right-0 w-full z-50 h-full bg-black bg-opacity-50 flex items-center justify-center">
        <div class="bg-white w-96 rounded shadow-lg">
            <div class="border border-bottom p-4">
                <span class="text-base">Thông báo</span>
            </div>
            <div class="p-4">
                <span class="text-base">{{message.title}}</span>
                <p>Nội dung: {{message.content}}</p>
            </div>
            <div class="p-4 flex justify-end">
                <button (click)="closeForm()" type="button"
                    class="bg-blue-500 text-white px-4 py-2 rounded">Đóng</button>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>