.custom-divider {
    border-top: 1px solid rgba(0, 0, 0, .2);
}

.ml-200 {
    margin-left: 200px;
}

.main-content {
    margin-left: 200px;
    margin-right: 200px;
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 120px;
}

.larger-checkbox {
    transform: scale(1.5);
}

.bg-button {
    background: linear-gradient(to bottom, #337ab7 0, #265a88 100%) repeat-x;
}

.bg-button-hover:hover {
    background: linear-gradient(to bottom, #3366ff 0, #265a88 100%) repeat-x;
}