<div class="w-full ml-0 mx-auto overflow-hidden rounded-lg">
    <table class="w-full border-collapse border border-gray-300">
        <thead class="bg-gray-800 text-white">
            <tr>
                <th class="border border-gray-300 px-4 py-2" style="width: 10%;">Kết quả</th>
                <th class="border border-gray-300 px-4 py-2">Thông tin nộp bài</th>
                <th class="border border-gray-300 px-4 py-2" style="width: 10%;">Thời gian</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let number of numbers">
                <td class="border border-gray-300 px-4 py-2 text-center text-base bold">
                    20/20
                    <p class="text-sm">AC | C++20</p>
                </td>
                <td class="border border-gray-300 px-4 py-2">
                    <a href="" class="text-lg">Olympic Sinh Viên 2023 - Chuyên tin - Ước số</a><br>
                    <span class="text-base">nguyenconghau</span> <span class="text-base">3:05:53,
                        20/04/2024</span>
                </td>
                <td class="border border-gray-300 px-4 py-2 text-center text-base bold">
                    0.12s
                    <p class="text-sm">1.9MB</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>